# 参考 ： https://qiita.com/terrierscript/items/86dbfd26abe6905756c0

# インストール進捗非表示で高速化
progress=false

# nodeバージョン厳密チェック
engine-strict=true

# プロキシ
# proxy="http://tk0py01a.jbcc.co.jp:8080"
# https-proxy="http://tk0py01a.jbcc.co.jp:8080"
